/* 서브2-2 본문 */
.search_title>.st_img2 { width: 40px; height: 40px; background: url(../images/icon/icon_img.png) no-repeat center; background-size: cover; margin-right: 10px; }
.search_title>.st_img2 img { width: 100%; }

.list_poster { width: 1060px; margin: 0 auto; }
.list_title { border-bottom: 1px solid #ddd; text-align: center; vertical-align: top; padding: 10px 0; font-weight: 700; }
.poster { margin: 50px auto; padding-bottom: 40px; display: flex; justify-content: space-between; flex-wrap: wrap; overflow: hidden; border-bottom: 1px solid #ddd; }
.poster li { width: 18%; padding: 20px 0; cursor: pointer; }
.poster_img { width: 100%; height: 270px; overflow: hidden; margin-bottom: 10px; }
.poster li img { width: 100%;  }
.poster_txt1 { font-size: 18px; }
.poster_txt2 { color: #727272; font-size: 15px; font-weight: 300; }
.poster_bar { width: 0; height: 2px; background: #333; margin-bottom: 8px;  transition: all 0.8s; }
.poster li:hover .poster_bar { left: 0; width: 100%; }